[workspace]
channels = ["conda-forge"]
name = "sst-nexafs-profile-collection"
platforms = ["linux-64"]
version = "2025.3.0"

[system-requirements]
libc = "2.17"

[feature.profile.dependencies]
bluesky-base = "==1.14.4"
bluesky-queueserver = "*"
matplotlib-base= ">=3.9.3,<4"
networkx = ">=3.4.2,<4"
nslsii = "==0.11.4"
numpy = "*"
ophyd = "==1.11.0"
pyepics = "*"
python = ">=3.12,<3.13"
semver = ">=3.0.4,<4"
tiled-client = "==0.1.0b39"
# needed until we get ophyd-async packaged
colorlog = ">=6.9.0,<7"
pydantic-numpy = "*"
ipython = ">=9.5.0,<10"
databroker = "==2.0.0b68"
bluesky-tiled-plugins = ">=2.0.0b67"
hdf5-external-filter-plugins = ">=0.1.0,<0.2"
blosc-hdf5-plugin = ">=1.0.1,<2"
asteval = ">=1.0.6,<2"
bluesky-widgets = ">=0.0.17,<0.0.18"
bluesky-live = ">=0.0.8,<0.0.9"
p4p = ">=4.2.0,<5"
epicscorelibs = ">=7.0.7.99.1.1,<8"
pyzmq = ">=27.0.2,<28"



[feature.profile.pypi-dependencies]
ophyd-async = { version = ">0.10.0", extras = ["ca", "pva"] }
nbs-bl = { git = "https://github.com/xraygui/nbs-bl", branch = "planStatusUpdates" }
sst-base = { git = "https://github.com/nsls-ii-sst/sst_base", rev = "v0.1.0" }
sst_tes = { git = "https://github.com/nsls-ii-sst/sst_tes", rev = "v0.0.1" }
nbs-core = { git = "https://github.com/xraygui/nbs-core", rev = "v0.0.2" }
nbs-gui = { git = "https://github.com/xraygui/nbs-gui", rev = "v0.1.0" }
sst-fasstcat = { git = "https://github.com/nsls-ii-sst/sst-fasstcat" }
ucal = { git = "https://github.com/nsls-ii-sst/ucal", rev = "v0.1.0" }


[feature.qs.dependencies]
bluesky-queueserver = "*"
bluesky-httpserver = "*"

[feature.gui.dependencies]
pyqt = "*"
qtconsole = "*"
qt-wayland = ">=5.15.15,<6"

[feature.qs.tasks]
# This section needs some development work to understand the best way to
# thread the required configuration through both the task and files checked into
# the profile.  These will interact with the ansible roles for pushing out the
# systemd units
qs-backend = "start-re-manager --redis-addr redis:6379 --zmq-publish-console ON --use-ipython-kernel ON --ipython-kernel-ip auto --startup-profile collection"
qs-server = "uvicorn --host localhost --port 60610 bluesky_httpserver.server:app"

[feature.terminal.tasks]
start = "unset SESSION_MANAGER && MPLBACKEND=qtagg ipython --profile-dir=."
pvs = "ipython --profile-dir=. -c 'get_pv_types(); exit()'"

[feature.terminal.dependencies]
ipython = ">=9.5.0"
numpy = ">2"

[feature.gui.tasks]
nbs-gui = "nbs-gui --profile collection"
nbs-viewer = "nbs-viewer"

[feature.gui.pypi-dependencies]
nbs-viewer = ">=0.3.0, <0.4"

[environments]
terminal = {features=["profile", "terminal"], solve-group="profile"}
qs = {features=["profile", "qs"], solve-group="profile"}
gui = {features=["profile", "gui"], solve-group="profile"}
