[project]
channels = ["conda-forge"]
name = "sst-nexafs-profile-collection"
platforms = ["linux-64"]
version = "2025.3.0"

[system-requirements]
libc = "2.17"

[feature.profile.dependencies]
bluesky-base = "*"
bluesky-queueserver = "*"
matplotlib-base= ">=3.9.3,<4"
networkx = ">=3.4.2,<4"
nslsii = ">=0.11.2,<0.12"
numpy = "*"
ophyd = "*"
pyepics = "*"
python = ">=3.12.11,<3.13"
semver = ">=3.0.4,<4"
tiled-client = ">=0.1.0b11,<0.2"

# needed until we get p4p packaged
nose2 = ">=0.9.2,<0.10"
ply = ">=3.11,<4"
# needed until we get ophyd-async packaged
colorlog = ">=6.9.0,<7"
epicscorelibs = "*"
pydantic-numpy = "*"
ipython = ">=9.5.0,<10"
databroker = ">=2.0.0b67"
bluesky-tiled-plugins = ">=2.0.0b67"
hdf5-external-filter-plugins = ">=0.1.0,<0.2"
blosc-hdf5-plugin = ">=1.0.1,<2"


[feature.profile.pypi-dependencies]
ophyd-async = { version = ">=0.9.0, <0.10", extras = ["ca", "pva"] }
nbs-bl = { git = "https://github.com/xraygui/nbs-bl", branch = "planStatusUpdates" }
sst-base = { git = "https://github.com/nsls-ii-sst/sst_base", rev = "v0.1.0" }
sst_tes = { git = "https://github.com/nsls-ii-sst/sst_tes", rev = "v0.0.1" }
nbs-core = { git = "https://github.com/xraygui/nbs-core", rev = "v0.0.2" }
nbs-gui = { git = "https://github.com/xraygui/nbs-gui", rev = "v0.1.0" }
sst-fasstcat = { git = "https://github.com/nsls-ii-sst/sst-fasstcat" }
ucal = { git = "https://github.com/nsls-ii-sst/ucal", rev = "v0.1.0" }


[feature.qs.dependencies]
bluesky-queueserver = "*"
bluesky-httpserver = "*"

[feature.gui.dependencies]
pyqt = "*"
qtconsole = "*"
qt-wayland = ">=5.15.15,<6"

[feature.qs.tasks]
# This section needs some development work to understand the best way to
# thread the required configuration through both the task and files checked into
# the profile.  These will interact with the ansible roles for pushing out the
# systemd units
qs-backend = "start-re-manager --redis-addr redis:6379 --zmq-publish-console ON --use-ipython-kernel ON --ipython-kernel-ip auto --startup-profile collection"
qs-server = "uvicorn --host localhost --port 60610 bluesky_httpserver.server:app"

[feature.terminal.tasks]
start = "ipython --profile-dir=."
pvs = "ipython --profile-dir=. -c 'get_pv_types(); exit()'"

[feature.gui.tasks]
nbs-gui = "nbs-gui --profile collection"
nbs-viewer = "nbs-viewer"

[feature.gui.pypi-dependencies]
nbs-viewer = ">=0.3.0, <0.4"

[environments]
terminal = {features=["profile", "terminal"], solve-group="profile"}
qs = {features=["profile", "qs"], solve-group="profile"}
gui = {features=["profile", "gui"], solve-group="profile"}
