[gui]
header = "sst-gui-header"

[gui.tabs]
include = ["nbs-gui-queue", "nbs-gui-monitor", "nbs-gui-console", "kafka-table-tab", "ucal-tes-tab", "sst-gui-samples"]

[gui.plans]
include = ["nbs-gui-scan", "nbs-gui-move", "nbs-gui-xas", "nbs-gui-timescan", "nbs-gui-varscan", "nbs-gui-flyscan", "sst-gui-energy-flyscan", "ucal-tes-cal", "ucal-tes-setup", "nbs-gui-samplemove"]


[models.beamline]
primary_energy = "en"
primary_manipulator = "manipulator"
loader = "nbs_bl.qt.models.beamline.SSTBeamlineModel"

[devices]
i0mir = { exclude = true }
psh8 = { visible = false }
psh1 = { visible = false, view_only = true }
en = { "_role" = "energy", "load_order" = 1 }
tes = { "_group" = "misc" }
sc = { label = "TEY" }
ref = { label = "Multimesh"}
pey = { label = "PEY" }
i0 = { label = "I0" }
i1 = { label = "I1" }
iref_slit_diode = { label = "Iref Slit" }
dm8_diode = { visible=false, label = "DM8 Diode" }
dm7_diode = { visible=false, label = "DM7 Diode" }
m4cd = { label = "M4CD" }
ucal_sc = { label = "UCAL I0", visible = false }
ucal_i0 = { visible = false }
dm6_diode = {visible = false}

[loaders]
NewEnPos = "sst_base.qt.models.energy.SST1EnergyModel"
EnPosFactory = "sst_base.qt.models.energy.SST1EnergyModel"
ManipulatorBuilderNEXAFS = "nbs_gui.models.PseudoPositionerModel"
MultiMeshBuilder = "nbs_gui.models.PseudoPositionerModel"
PrettyMotorFMBODeadband = "nbs_gui.models.MotorModel"
PrettyMotorFMBODeadbandFlyer = "nbs_gui.models.MotorModel"
PrettyMotorFMBO = "nbs_gui.models.MotorModel"
PrettyMotor = "nbs_gui.models.MotorModel"
EpicsSignalRO = "nbs_gui.models.PVModelRO"
EpicsSignal = "nbs_gui.models.PVModel"
ShutterSet = "nbs_gui.models.GVModel"
EPS_Shutter = "nbs_gui.models.GVModel"
ADCBuffer = "nbs_gui.models.ScalarModel"
FMBHexapodMirror = "nbs_gui.models.MotorTupleModel"
TESMCAFactory = "ucal.qt.models.tesModel.TESModel"
WienerPSFactory = "nbs_gui.models.MotorTupleModel"
SRSADCFactory = "sst_base.qt.models.srs570.SRS570Model"
RBDFactory = "sst_base.qt.models.rbd9103.RBD9103Model"
QuadSlits = "sst_base.qt.models.quadSlits.QuadSlitsModel"
FMBOQuadSlits = "sst_base.qt.models.quadSlits.QuadSlitsModel"


[kafka]
config_file = "/etc/bluesky/kafka.yml"
bl_acronym = "ucal"